.page-content
  color $content-text-color
  &:not(.block--image)
    margin-bottom: 1em

  h1, h2, h3, h4, h5, h6, p, li, dt, dd
    line-height $content-text-line-height

  p
    font-size $content-text-size
    margin 1em 0

  a
    color: $content-link-color
    font-weight: $content-link-weight
    text-decoration: $content-link-decoration
    transition: color .15s ease-in
    &:link,
    &:visited
      transition: color .15s ease-in
    &:hover
      color: $content-link-hover-color
      text-decoration: $content-link-hover-decoration
      transition: all .15s ease-in
    &:active
      transition: color .15s ease-in
    &:focus
      transition: color .15s ease-in
      outline: 1px dotted currentColor


  blockquote
    color $content-blockquote-quote-color
    font-size $content-blockquote-quote-size
    line-height $content-blockquote-quote-line-height
    margin $content-blockquote-margin
    p
      margin 0.5em 0

    cite
      color $content-blockquote-cite-color
      font-size $content-blockquote-cite-size
      font-style $content-blockquote-cite-style
      font-weight $content-blockquote-cite-weight
      margin-top $content-blockquote-cite-margin-top
      > em
        color $content-blockquote-cite2-color
        font-size $content-blockquote-cite2-size
        font-style $content-blockquote-cite2-style
        font-weight $content-blockquote-cite2-weight
        &:before
          content: " | "
          padding-left: 2px
          padding-right: 2px

  code, kbd, pre, samp
    font-family $code
    font-size: 1em
    line-height: 1.42857143
  code
    color $red
    padding: rem(2px) rem(4px)
    font-size: 90%
    color: $red
    background-color: lighten($red, 50%)
    border-radius: $border-radius-3
  pre
    padding: rem(10px)
    margin: 0 0 1em
    color: $dark
    word-break: break-all
    word-wrap: break-word
    background-color: $light-gray
    border: $border-width-1 solid $medium-gray
    border-radius: $border-radius-3
    overflow-x scroll

.image-grid
  // our flexbox container
  margin: .5em -1em .5em -1.5em
  +above(m)
    display: flex
    margin: .5em 0 .5em -.5em
    // setting the left margin at -.5em and the right at 0 offsets the grid to account for the gutters
.image-grid + .image-grid
  margin-top: -.5em
$grid-image
  margin: 0 auto
  padding: .5em 0 0 1em
  width: 100%
  img
    filter: blur(5px)
    transition: filter 400ms
    &.lazyloaded
      filter: blur(0)
    &[data-sizes="auto"]
      display: block

  +above(m)
    flex: 1 auto
    // flex-basis set at 0 rather than 100%
// register all possible ratios
.grid-image,
.grid-image--aspect3x2,
.grid-image--aspect4x3,
.grid-image--aspect2x3,
.grid-image--aspect3x4,
.grid-image--aspect3x1,
.grid-image--aspect1x1,
.grid-image--aspect16x9
  @extend $grid-image
.grid-image--aspect3x2
  +above(m)
    flex: (3/2) 0%
.grid-image--aspect4x3
  +above(m)
    flex: (4/3) 0%
.grid-image--aspect2x3
  +above(m)
    flex: (2/3) 0%
.grid-image--aspect3x4
  +above(m)
    flex: (3/4) 0%
.grid-image--aspect3x1
  +above(m)
    flex: (3/1) 0%
.grid-image--aspect1x1
  +above(m)
    flex: (1/1) 0%
.grid-image--aspect16x9
  +above(m)
    flex: (16/9) 0%


.embed-container:not(.type-rich)
  position: relative
  height: 0
  overflow: hidden

  iframe,
  object,
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &.type-video
    padding-bottom: 56.25%
    &.youtube
      padding-bottom: 53.25%
      padding-top: 30px

  &.type-video,
  &.type-video iframe
    max-width: 1280px
    max-height: 720px

  &.instagram
    padding-bottom: 120%

