*,
*:after,
*::before
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  font-family: $body-font-family

// html,
// body,
// #container,
// #page
//   height: 100%

html
  height: 100%

#container
  position: relative
  overflow: hidden

#page
  position: relative
  left: 0
  z-index: 99
  height: 100%
  box-shadow: 0 0 30px rgba(0,0,0,.5)
  transition: transform 0.5s
  overflow-y scroll
  overflow-x hidden
  background $body-background-color

  // needs to be here for performance issues but introduces other problems
  -webkit-overflow-scrolling: touch


  &::after
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    background: rgba(0, 0, 0, 0.2)
    content: ''
    opacity: 0
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    z-index: 100
