#page--inner--columns
  background-color $white
  +above(m)
    lost-flex-container: row
    padding rem(40px) 0
  // +above(xl)
  //   padding rem(90px) rem(160px)


  &.one
    & > main
      // placeholder:
      width 100%

      +above(m)
        lost-flex-container: row




  &.two
    +above(m)
      lost-flex-container: row
    main
      padding 0 rem(30px)
      +above(m)
        padding 0
      +between(m, l)
        lost-column 18/36
        lost-offset: 2/36
      +above(xl)
        lost-column 14/36
        lost-offset: 4/36
    aside
      +between(m, l)
        lost-column 12/36
        lost-offset: 1/36
      +above(xl)
        lost-column 10/36
        lost-offset: 4/36



