+above(m)
  .parallax
    perspective: 1px
    height: 100vw
    overflow-x: hidden
    overflow-y: auto

    .parallax__layer
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
    .parallax__layer--back
      transform: translateZ(-1px) scale(2)
    .parallax__layer--base
      background-color $white
      position: relative
      height: 100vh
      padding: rem(40px) 0
      transform-style: preserve-3d
      transform: translate3d(0)
      top: 'calc(%s - %s)' % ($imageRatio 1rem)
      lost-flex-container: row

      main
        margin: 0 0 rem(40px) 0

      aside
          margin-top -(rem(80px))


