#block--quick-links
  background-color $module-quick-links-background-color
  box-shadow $module-quick-links-box-shadow
  padding rem(60px) rem(30px)
  margin-bottom 2em
  +above(xl)
    padding rem(60px) rem(30px)
  > h3
    font-family $module-quick-links-title-font
    font-size $module-quick-links-title-size
    margin 0 0 rem(30px)
    text-align center
    text-transform $module-quick-links-title-transform
    &:before
      background-color: $module-quick-links-link-color
      background-repeat: no-repeat
      background-size: cover
      content: " "
      display inline-block
      height rem(16px)
      width rem(16px)
      mask: embedurl("../sprites/arrow-angle.svg", "utf8") no-repeat 50% 50%/12px 12px
      margin-right: 0.35em
      transition: background-color .1s ease-in
      vertical-align middle

  ul
    margin 0
    padding 0
    list-style none
  li
    font-size $module-quick-links-link-size
    font-weight $module-quick-links-link-weight
    margin 1em 0
    &:last-child
      margin-bottom 0


// STYLES FOR WHEN USED IN MAIN COLUMN
#content #block--quick-links
  > h3
    text-align left

  ul
    width: 100%
    +above(m)
      display: flex
      flex-flow: row wrap
      align-items: stretch

  li
    display block
    +above(m)
      flex-grow: 1
      display inline-block
      min-width 'calc(%s - %s)' % (((1/4)*100)% rem(7.5px))
      margin rem(3.75px) 0 rem(3.75px) rem(7.5px)

  a
    @extend $button
    display block


// STYLES FOR WHEN USED IN ASIDE COLUMN
aside #block--quick-links
  a
    color $module-quick-links-link-color
    text-decoration $module-quick-links-link-decoration
    transition: color .15s ease-in
    &:after
      background-color: $module-quick-links-arrow-color
      background-repeat: no-repeat
      background-size: cover
      content: " "
      display inline-block
      height rem(16px)
      width rem(16px)
      mask: embedurl("../sprites/arrow-right.svg", "utf8") no-repeat 50% 50%/12px 12px
      margin-left: 0.15em
      transition: background-color .1s ease-in, margin-left .15s ease-in
      vertical-align middle

    &:hover
      color $module-quick-links-link-hover-color
      &:after
        margin-left: 0.35em
