#block--process
  background-color $module-process-background-color
  p
    color $module-process-text-color
    font-family $module-process-text-font
    font-weight $module-process-text-font-weight
    font-size $module-process-text-size-mobile
    text-align center

    +above(m)
      font-size $module-process-text-size-desktop

    a
      color $module-process-link-color
      text-decoration $module-process-link-decoration
      &:hover
        $module-process-link-hover-color

  figure
    margin 0

    svg
      width 100%
      height auto
      vertical-align: middle

  .logo svg g
    fill $module-process-logo-color

  +above(m)
    display: flex
    flex-flow: row wrap
    align-items: stretch
    justify-content: center

    p
    .logo
      flex-grow: 1
      display inline-block
      display: flex
      flex-direction: column
      justify-content: center
      height: rem(220px)
      margin-left rem(38px)
      margin-right rem(38px)

    p
      margin-top 0
      margin-bottom 0
      max-width rem(240px)
      text-align right

    .logo
      max-width rem(188px)
