.block--news-events--preview
  a
    display block
    background-color $module-news-events-preview-background-color
    box-shadow $module-news-events-preview-box-shadow
    text-decoration none
    transition: box-shadow 200ms ease-out
    padding-bottom rem(28px)

    +above(m)
      padding-bottom rem(30px)

    > figure
      margin 0
      line-height 0
      overflow hidden

      img
        transition: transform 0.8s ease

      &.desktop
        display none
        visibility hidden
      +above(m)
        &.mobile
          display none
          visibility none
        &.desktop
          display block
          visibility visible

    > h2
    > h3
      padding-left rem(30px)
      padding-right rem(30px)
      +above(m)
        padding-left: 'calc(%s * (-%s/%s * -%s) - (%s - %s * (-%s/%s * -%s)) + %s)' % (100vw 1 36 1 30px 30px 1 36 1 30px)
        padding-right: 'calc(%s * (-%s/%s * -%s) - (%s - %s * (-%s/%s * -%s)) + %s)' % (100vw 1 36 1 30px 30px 1 36 1 30px)

    > h2
      font-family $module-news-events-preview-name-font
      line-height $line-height-solid
      margin 0
      text-align left
      text-transform $module-news-events-preview-name-transform
      margin-top rem(27px)
      color $module-news-events-preview-name-color

      font-size $module-news-events-preview-name-size-mobile
      +above(m)
        margin-top rem(40px)
        font-size $module-news-events-preview-name-size-desktop

    > h3
      font-family $module-news-events-preview-title-font
      line-height $line-height-solid
      margin 0
      text-align left
      color $module-news-events-preview-title-color
      font-style $module-news-events-preview-title-style
      margin-top rem(10px)

      font-size $module-news-events-preview-title-size-mobile
      +above(m)
        font-size $module-news-events-preview-title-size-desktop

    &:hover
      box-shadow $module-news-events-preview-box-shadow-hover
      figure img
        transform scale(1.08)


#content
  > .block--news-events--preview
    margin-bottom rem(12px)
    +above(m)
      margin-bottom rem(57px)

#block--spotlights-two
  padding-top rem(10px)
  padding-bottom rem(30px)

  +above(m)
    lost-flex-container: row
    padding-top rem(80px)
    padding-bottom rem(48px)

    .block--news-events--preview
      lost-column 15/36
      lost-offset: 2/36
