main header
  > h1
    color $header-text-color
    font-family $header-text-font
    font-size $header-text-size
    font-style: $header-text-style
    font-weight: $header-text-weight
    line-height: $header-text-line-height
