.lead
  color $module-lead-in-color
  font-family: $module-lead-in-font
  font-size: $module-lead-in-size
  font-style: $module-lead-in-style
  font-weight: $module-lead-in-weight
  line-height: $module-lead-in-line-height
