#menu--top
  position: relative
  top: 0
  right: 0
  left: 0
  z-index: 98
  display: block
  margin: 0
  width: 100%
  min-width: rem(320px)
  height: $top-menu-height-mobile
  max-height: $top-menu-height-mobile
  box-shadow $top-menu-bottom-shadow
  +above(l)
    height: $top-menu-height-desktop
    max-height: $top-menu-height-desktop

  background: $top-menu-background-color

  &::before
    background: embedurl("../images/banner.svg", "utf8") no-repeat 50% 50%/105% auto
    content: ''
    display: block
    height: rem(6px)
    position:relative
    width: 100%

  ul
    list-style: none
    margin: 0
    padding: 0
    text-align: right
    li
      display inline-block
      margin: 0
      vertical-align: top



#menu--side .menu--item-top-logo,
#menu--side .menu--item-top-toggleicon
  display none

#menu--top-mobile
  li
    height: rem(80px)
  +above(tablet-min)
    display none

.menu--item-top-logo
  position: absolute
  left: 0
.menu--item-top-logo a
  display: block
  padding: rem(22.5px) rem(20px) rem(22px)
  +between(tablet-min, tablet-max)
    padding: rem(17.5px) rem(10px) rem(17.5px) rem(30px)
  +above(desktop-min)
    padding: rem(19px) rem(30px) rem(13px) rem(30px)
.menu--top-logo
  background-repeat: no-repeat
  background-size: cover
  display: block
  height: rem(30px)
  width: rem(201px)
  +between(tablet-min, tablet-max)
    height: rem(39px)
    width: rem(254.6px)
  +above(desktop-min)
    height: rem(56px)
    width: rem(365.15px)
  strong
    @extend .hide-text

#menu--top .nav--main
  display none
  +above(tablet-min)
    display block
  li
    height: rem(74px)
    +above(desktop-min)
      height: rem(88px)
  li.menu--item-text
    font-family: $top-menu-font-family
    font-size: ($top-menu-main-font-size * .9)
    font-weight: $top-menu-main-font-weight
    line-height: rem(74px)
    +above(desktop-min)
      font-size: $top-menu-main-font-size
      line-height: rem(82px)

  li.menu--item-text a
    display block
    color: $top-menu-link-color
    padding: 0 1em
    text-decoration: none
    text-transform: uppercase
    transition: $link-transition
    +above(desktop-min)
      padding: rem(6px) 1.92857em 0
    &:hover
      color: $top-menu-link-hover-color


.menu--side--toggleicon-label
  padding: rem(29px) rem(30px) rem(24px)
  cursor: pointer
  display: block
  +between(tablet-min, tablet-max)
    padding: rem(25px) rem(30px) rem(22px) rem(10px)
  +above(desktop-min)
    padding: rem(32px) rem(47.5px) rem(29.5px) rem(25px)
  svg
    width: rem(24px)
    +above(desktop-min)
      width: rem(32.5px)
  .menuicon-bread
    fill: $top-menu-toggle-icon-color
    transition: fill $transition-timing

  &:hover
    .menuicon-bread
      fill: $top-menu-toggle-icon-color-hover

.menu--side--toggleanchor
  left: 0
  color: $white
  position: absolute
  top: 0
  width: 1px
  height: 1px
  z-index: 10
.menuanchor-label
  @extend .hide-text

.menu--side--toggle-close
  display: none


// SEARCH
.menu--item-top-searchicon
  form
    padding 1em 0
    width 100%

    .search-form
      align-items: center
      display: flex

      input[type="search"]
        width: 100%

  input[type="search"]
    position: relative
    display: inline-block
    direction: ltr
    float: left
    width: 100%
    border-right none
    & + button
      flex-shrink: 0
      button()
      line-height 1.428571429
      padding: $padding-base-vertical ($padding-base-horizontal * .75)
      svg
        width: rem(24px)
        vertical-align: middle
        > path
          transition: fill $transition-timing

#menu--side ul li.menu--item-top-searchicon
  a.menu--search-icon
    display none !important
  input[type="search"] + button
    svg
      > path
        fill: $white
    &:hover
      svg > path
        fill: $white

#menu--top ul li.menu--item-top-searchicon
  a.menu--search-icon
    display: none
    +between((tablet-min + 100px), tablet-max)
      display: block
      padding: rem(26px) rem(8px) rem(27.5px)
    +above(desktop-min + 100px)
      display: block
      padding: rem(36px) rem(12px) rem(26px)

    svg
      width: rem(18px)
      vertical-align: middle
      +above(desktop-min)
        width: rem(26px)
      > path
        fill: $top-menu-toggle-icon-color
    &:hover
      svg > path
        fill: $top-menu-toggle-icon-color-hover

  form
    display none
    max-width rem(600px)
