.meta
  color $module-meta-color
  font-family $module-meta-font
  font-size $module-meta-size
  font-style: $module-meta-style
  font-weight: $module-meta-weight
  line-height: $module-meta-line-height
  text-transform: $module-meta-transform
