<section id="block--location">
  <div class="block--text">
    <div class="inner">
      <h3>Our Location..</h3>
      <h2>{{ entry.locationHeadline | typogrify }}</h2>
      <p>{{ entry.locationText | nl2br | typogrify }}</p>
    </div>
  </div>
  <div id="block--location-map">
    <figure>
      {{ craft.inlin.er('../src/images/indiana_map.svg') | raw }}
    </figure>
  </div>
</section>
