<section id="block--process">
  <p>Website Created in Collaboration with: <a href="{{ entry.collaborationLearnMore.one().url }}" title="Read More About the Process">Read More About the Process</a></p>

  {%- set collaborations = entry.collaboration.limit(3) -%}

  {% for collaboration in collaborations %}
  {%- set logo = collaboration.collaborationLogo.one() -%}
  <figure class="collaboration">
    <a href="{{ collaboration.collaborationUrl }}" target="_blank" title="{{ collaboration.collaborationName }}">
      {% set path = logo.volume.path ~ '/' ~ logo.filename %}
      {{ craft.inlin.er(path, true) | raw }}
    </a>
  </figure>
  {% endfor %}
</section>
