<section class="block--story-share">
  <span><strong>City of Champions</strong></span>
  <p>Know a Champion in our community?</p>
  <a href="/share-a-story" title="Share a story of a champion">Share their story</a>
</section>
