{#
    Minutes & Agendas Landing Template
#}

{% extends "layouts/type/_list" %}

{# HTML #}
{% block listContent %}
  {% cache %}

{% set entryIds = craft.entries.section('minutesAgendas').ids() %}
{% set boards = craft.entries.relatedTo({ sourceElement: entryIds }).all() %}

<section class="list--content">
<ul>
  {% for board in boards %}
    <li><span>{{ board.title }}</span> <a href="{{ (craft.app.request.segments|last) ~ '/' ~ board.slug }}" title="View all Minutes &amp; Agendas for {{ board.title }}">View</a></li>
  {% endfor %}﻿
</ul>
</section>

  {% endcache %}
{% endblock %}
