<header>
  <p class="meta">News Article</p>
  <h1>{{ entry.title }}</h1>
  <p class="meta">News Article</p>
  <p class="lead">{{ entry.leadIn }}</p>
</header>

{% include "modules/content/_page-content" %}
