/*

   MEDIA

*/

/* Responsive images and video! */

img
video
  max-width 100%
  height auto
  width 100%

img[data-sizes="auto"]
  display block
  width 100vw

.embed-container:not(.type-rich)
  position: relative
  height: 0
  overflow: hidden

  iframe,
  object,
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &.type-video
    padding-bottom: percentage(9/16)
    &.youtube
      padding-bottom: 'calc(%s - %s)' % (percentage(9/16) 30px) // 53.25%
      padding-top: 30px

  &.type-video,
  &.type-video iframe
    max-width: 1280px
    max-height: 720px

  &.instagram
    padding-bottom: 120%

figure.no-image
  position relative
  img
    z-index 0
  &:before
    content ''
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    background embedurl("../images/logo-mark-repeating.svg", "utf8") repeat
    background-size 30%
    transition transform 0.8s ease
    z-index 1

+above(m)
  .block--subpage
  .block--spotlight
  .block--news-events--preview
    a:hover
      figure.no-image:before
        transform scale(1.08)



.article-type-announcement
.article-type-article
.article-type-notice
.article-type-press-release
  figure.no-image:before
    background-repeat no-repeat
    background-size cover
    background-position 50% 50%
    
.article-type-announcement
  figure.no-image:before
    background-image embedurl("../images/filler_announcement.svg", "utf8")
    background-color $light-blue

.article-type-article
  figure.no-image:before
    background-image embedurl("../images/filler_news.svg", "utf8")
    background-color $navy

.article-type-notice
  figure.no-image:before
    background-image embedurl("../images/filler_notice.svg", "utf8")
    background-color $teal

.article-type-press-release
  figure.no-image:before
    background-image  embedurl("../images/filler_press-release.svg", "utf8")
    background-color $dark-blue