/*

   UTILITIES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/
/* Equivalent to .overflow-y-scroll */
.overflow-container
  overflow-y: scroll
.center
  margin-right: auto
  margin-left: auto

+above(mobile)
  .center-ns
    margin-right: auto
    margin-left: auto

+tablet()
  .center-m
    margin-right: auto
    margin-left: auto

+desktop()
  .center-l
    margin-right: auto
    margin-left: auto
