<li class="menu--item menu--item-top-toggleicon">
  <label class="menu--side--toggleicon-label menu--side--toggle" for="menustate" aria-hidden="true">
    {{ source('svg/menu.svg') }}
  </label>
  <a href="#" class="menu--side--toggleanchor menu--side--toggle-open">
    <span class="menuanchor-label">Open Menu</span>
  </a>
  <a href="#" class="menu--side--toggleanchor menu--side--toggle-close">
    <span class="menuanchor-label">Close Menu</span>
  </a>
</li>
