{#
    About Landing Template
#}

{% extends "layouts/base/_base_parallax" %}

{% set title = entry.title %}
{% set type = 'landing' %}


{# HEADER IMAGE #}
{% block parallaxBack %}
  {% if entry.primaryImage.count() %}{% include "modules/content/_header-block" %}{% endif %}
{% endblock %}


{# MAIN COLUMN CONTENT #}
{% block content %}

<h1>{{ entry.title }}</h1>

{% endblock %}
