{#
    Departments Sub-page Template
#}
{% set parallax = (entry.primaryImage | length) ? '_parallax' : '' %}

{% extends 'layouts/columns/_two' ~ parallax %}

{% set title = entry.title %}
{% set type = 'standard' %}


{# HEADER IMAGE #}
{% block headerBlock %}
  {% if entry.primaryImage | length %}{% include "modules/content/_header-block" %}{% endif %}
{% endblock %}

{# HTML #}
{% block main %}
{% cache using key 'departments_subpage_main_' ~ craft.app.request.pathInfo %}
    <header>
    <h1>{{ entry.title | typogrify }}</h1>
    <p class="lead">{{ entry.leadIn | typogrify }}</p>
    </header>

    {% include "modules/content/_page-content" %}
    {% include "modules/content/_page-content-attachments" %}
    {% include 'modules/content/_block-contact-person' %}
    {% if entry.embedForm | length %}{% include "modules/content/_form" %}{% endif %}
{% endcache %}
{% endblock %}

{# ASIDE #}
{% block aside %}
{% cache using key 'departments_subpage_aside_' ~ craft.app.request.pathInfo %}
  {% set parentSlug = craft.app.request.getSegment(3) %}
  {% set parent = craft.entries.slug(parentSlug).one() %}
  {% set subPages = craft.entries.section('departmentsContent').relatedTo(parent).orderBy('title').all() %}
  {% include 'modules/content/_block-sub-pages' with { subPages: subPages } %}
  {% include "modules/content/_block-quick-links" %}
{% endcache %}
{% endblock %}
