<div id="header-image" class="news-events-article">
  {%- set image = entry.primaryImage.one() -%}

  <figure>
      <img class="lazyload"
        src="{{ image.optimizedImagesNewsHeader.placeholderBox() }}"
        data-sizes="100vw"
        data-srcset="{{ image.optimizedImagesNewsHeader.srcset() }}"
        {% if image.alt %}alt="{{ image.alt }}"{% endif %}>
    {% if image.caption %}
    <figcaption>{{ image.caption }}</figcaption>
    {% endif %}
  </figure>
</div>
