<div id="header-image" class="news-events-article">
  {% set employeePhotoExists = false %}
    {% if entry.employee | length %}
      {% if entry.employee.one().staffPhoto | length %}
        {% set employeePhotoExists = true %}
      {% endif %}
    {% endif %}

    {% if (entry.primaryImage | length) or employeePhotoExists %}
      {%- import "macros/_images" as imageFunctions -%}
      {% if entry.primaryImage | length %}
        {%- set image = entry.primaryImage.one() -%}
      {% else %}
        {%- set image = entry.employee.one().staffPhoto.one() -%}
      {% endif %}

      <figure>
        {{ imageFunctions.responsivePicture(image.optimizedImagesNewsHeader, image.alt) }}
        {% if image.caption %}<figcaption>{{ image.caption }}</figcaption>{% endif %}
      </figure>
    {% else %}
      <figure class="no-image">
        <img src="data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%273380%27 height=%271126%27 style=%27background:%23383932%27 /%3E">
      </figure>
    {% endif %}
</div>
