{% if craft.app.request.segments|last == 'event' %}{% redirect 'news-events/events' 301 %}{% endif %}

{#
    News & Events Types Template
#}

{% extends "layouts/base/_base" %}

{% set type = type|camel %}
{% set entryType = null %}
{% set section = craft.app.sections.getSectionByHandle('newsEvents') %}
{% for _entryType in section.getEntryTypes() %}
    {% if _entryType.handle == type %}
        {% set entryType = _entryType %}
    {% endif %}
{% endfor %}

{% if not entryType %}
    {% exit 404 %}
{% endif %}

{% set title = entryType.name %}

{% set queryParams = {
  'section' : 'newsEvents',
  'type' : 'and, '~type
} %}



{# HTML #}
{% block content %}

<header id="news-events--intro">
  <div id="news-events--intro-text">
    <h1>{{ entryType.name | pluralize }}</h1>
    {# {%- if entry.headline -%}<h2>{{ entry.headline }}</h2>{%- endif -%} #}
    {# {%- if entry.leadIn -%}<p>{{ entry.leadIn }}</p>{%- endif -%} #}
  </div>
</header>

{% include 'structure/news-events/_nav' %}

<section id="news-events--articles-list">
  {% paginate craft.entries(queryParams).limit(6) as pageInfo, recentNews %}
  {% for entry in recentNews %}
    {% include 'modules/content/_block-news-events-entry' %}
  {% endfor %}

  {% include 'modules/nav/_pagination' %}
</section>


{% endblock %}

