{#
    News & Events Landing Template
#}

{% extends "layouts/base/_base" %}

{% set title = entry.title %}



{# Is anything featured? #}
{%- if entry.featuredArticle | length -%}
  {# Get an array of filtered article ID's #}
  {% set featuredIds = entry.featuredArticle.ids() %}
  {% set featuredQueryParams = {
      'section' : 'newsEvents',
      'id' : 'and, ' ~ featuredIds | join(', ')
    } %}

  {# Exclude featured ids from the page results #}
  {# {% set queryParams = {
    'section' : 'newsEvents',
    'id' : 'and, not ' ~ featuredIds | join(', not '),
    'type' : 'and, not event, not story',
  } %} #}
  {% set queryParams = {
    'section' : 'newsEvents',
    'id' : 'and, not ' ~ featuredIds | join(', not '),
    'type' : 'and, not event'
  } %}

{%- else -%}

  {# {% set queryParams = {
    'section' : 'newsEvents',
    'type' : 'and, not event, not story',
  } %} #}
  {% set queryParams = {
    'section' : 'newsEvents',
    'type' : 'and, not event'
  } %}

{%- endif -%}



{# HTML #}
{% block content %}

<header id="news-events--intro">
  <div id="news-events--intro-text">
    <h1>{{ entry.title }}</h1>
    {%- if entry.headline -%}<h2>{{ entry.headline }}</h2>{%- endif -%}
    {%- if entry.leadIn -%}<p>{{ entry.leadIn }}</p>{%- endif -%}
  </div>
</header>

{# Is anything featured? #}
{%- if entry.featuredArticle | length -%}
  <section class="news-events--featured-article">
    {% for entry in craft.entries(featuredQueryParams).limit(1).all() %}
      {% include 'modules/content/_block-news-events-featured' %}
    {% endfor %}
  </section>
{%- endif -%}

{% include 'structure/news-events/_nav' %}

<section id="news-events--articles-list">
  {% paginate craft.entries(queryParams).limit(6) as pageInfo, recentNews %}
  {% for entry in recentNews %}
    {% include 'modules/content/_block-news-events-entry' %}
  {% endfor %}

  {% include 'modules/nav/_pagination' %}
</section>


{% endblock %}
