{#
    404 Template
#}

{% extends "layouts/base/_base" %}

{% set title = '404 Not Found' %}
{% set type = 'landing' %}


{# MAIN COLUMN CONTENT #}
{% block content %}

<h1>404</h1>

{% endblock %}

