<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

{# Base #}
{% do view.registerCssFile("/assets/css/master.css") %}
{% do view.registerJsFile("/assets/js/scripts.js") %}

{{ head() }}

<div id="container">
  {# {% cache for 4 weeks %} #}
    {% include 'modules/side-menu/_side-menu' %}
  {# {% endcache %} #}

  {# content push wrapper #}
  <div id="wrapper">

    <div id="page">{# this is the wrapper for the content #}
      <div id="page--inner">{# extra div for emulating position:fixed of the menu #}
        {# {% cache for 4 weeks %} #}
          {% include 'modules/header/_header' %}
        {# {% endcache %} #}

        {% block content %}{% endblock %}

        {# {% cache for 4 weeks %} #}
          {% include 'modules/footer/_footer' %}
        {# {% endcache %} #}
      </div><!-- /#page--inner -->
    </div><!-- /#page -->

  </div><!-- /#wrapper -->
</div><!-- /#container -->

{{ endBody() }}
