{#
    Jobs Channel Entry Template
#}

{% extends 'layouts/columns/_two' %}

{% set title = entry.title %}
{% set type = 'standard' %}

{# HTML #}
{% block main %}
  {% cache %}
    <header>
        <h1>{{ entry.title | typogrify }}</h1>
    </header>

    {{ entry.copy }}
    
    {% include 'modules/content/_page-content-attachments' %}
    {% include 'modules/content/_block-contact-person' %}
  {% endcache %}
{% endblock %}