{#
    Directory Landing Template
#}

{% extends "layouts/columns/_one" %}

{% set title = entry.title %}

{# HTML #}
{% block main %}



<section id="staff-department-blocks">
  {% set staffIds = craft.entries.section('staff').ids() %}
  {% set params = {
      section : 'departments',
      orderBy : 'title asc',
      relatedTo: staffIds
    } %}
  {% set departments = craft.entries(params).all() %}

  {% for department in departments %}
    {% set params = {
      section : 'staff',
      orderBy : 'title asc',
      relatedTo: department
    } %}
    {% set departmentStaffMembers = craft.entries(params).all() %}
    <section id="department--{{ department.slug }}" class="staff-department">
      <input type="checkbox">
      <i></i>
      <h2>
        {{ department.title }}
        {% if department.description or department.email %}
        <span class="controls">
          {% if department.description %}<input type="checkbox"><span class="toggle-description">Description <i></i></span>{% endif %}
          {% if department.email %}<a data-fancybox data-src="#department--{{ department.slug }}--modal" href="javascript:;" class="contact-department-modal">Contact <span>Department</span></a>{% endif %}
          {% if department.description %}<p>{{ department.description }}</p>{% endif %}
        </span>
        {% endif %}
      </h2>
      <ul>
      {% for member in departmentStaffMembers %}
        {% include "singles/directory/_member" %}
      {% endfor %}﻿
      </ul>
      {% if department.email %}{% include "singles/directory/_form" %}{% endif %}
    </section>
  {% endfor %}﻿
</section>


{% endblock %}
