{#
    Directory Landing Template
#}

{% extends "layouts/columns/_one" %}

{% set title = entry.title %}

{# HTML #}
{% block main %}



<section id="staff-department-blocks">
  {% set staffMembers = craft.entries.section('staff').all() %}
  {% set deptParams = {
      section : 'departments',
      orderBy : 'title asc',
      relatedTo: staffMembers
    } %}
  {% set departments = craft.entries(deptParams).all() %}

  {% for department in departments %}
    {% set staffParams = {
      section : 'staff',
      orderBy : 'title asc',
      relatedTo: department
    } %}
    {% set departmentStaffMembers = craft.entries(staffParams).all() %}
    <section id="department--{{ department.slug }}" class="staff-department">
      <input type="checkbox">
      <i></i>
      <h2>
        {{ department.title | typogrify }}
        {% if department.description or department.email %}
        <span class="controls">
          {% if department.description %}<input type="checkbox"><span class="toggle-description">Description <i></i></span>{% endif %}
          {% if department.email %}<a data-fancybox data-src="#department--{{ department.slug }}--modal" href="javascript:;" class="contact-department-modal">Contact <span>Department</span></a>{% endif %}
          {% if department.description %}<p>{{ department.description | typogrify }}</p>{% endif %}
        </span>
        {% endif %}
      </h2>
      <ul>
      {% for member in departmentStaffMembers %}
      {% cache using key 'department-directory-' ~ department.id ~ '-' ~ department.slug ~ '-' ~ member.slug %}{% include "modules/content/_block-staff-member" %}{% endcache %}
      {% endfor %}
      </ul>
      {% if department.email %}{% include "singles/directory/_form" %}{% endif %}
    </section>
  {% endfor %}
</section>


{% endblock %}
